<div class="container">
    <a href="/curso">Voltar</a>
    <br>
    <br>
    
    <h1>{{curso.sigla}}</h1>

    <p> <b>Nome: </b> {{curso.nome}} </p>

    <p> <b>Area: </b> {{curso.Area.nome}} </p>

    <p> <b>Descricao </b></p>

    <p>{{curso.descricao}}</p>

    <form action="/curso/delete/{{curso.id}}" method="post">
        <button type="submit">Deletar</button>
    </form>

    <form action="/curso/edit/{{curso.id}}" method="get">
        <button type="submit">Editar</button>
    </form>

</div>